@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans");

* {
    font-family: 'Open Sans', sans-serif;
}

#logo {
    font-family: 'Baloo Bhaina', cursive;
    color: #A593E0;
    margin: 0;
}

/* Responsive Layout */
* {
    max-width: 100%;
}